* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-user: #808080;
    --border-generate: #9C609D;
    --primary: #B91450;
    --bg-btn: #CCCCCC;
}

body {
    background-color: var(--primary);
}

a {
    text-decoration: none;
}

.rounded_7 {
    border-radius: 0.7rem;
}

.border_t_b {
    border-top: 1px solid var(--bg-user);
    border-bottom: 1px solid var(--bg-user);
}

.bg_nome_utente {
    background-color: var(--bg-user);
}

label {
    color: var(--primary);
}

input[type^="text"],
input[type^="number"],
select {
    width: 80%;
    height: 40px;
    border: 1px solid var(--primary);
    border-radius: 10px;
    text-align: center;
}

a.button,
input[type^="reset"] {
    color: var(--primary);
    background-color: var(--bg-btn);
    padding: 3px 10px;
    border: 1px solid var(--primary);
    border-radius: 12px;
    cursor: pointer;
}

.container {
    box-shadow: 0 2px 16px 5px #353434;
}

#ticket [class^=col] {
    height: 200px;
}

.cards {
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 20%;
}

.card_top {
    font-weight: 700;
}

.card_bottom {
    font-weight: 500;
}

@media screen and (max-width:768px) {
    .cards {
        border: 1px solid var(--bg-user);
    }
}